.root {
	@apply relative w-full h-full;
	overflow-y: hidden;
}

.leftControl,
.rightControl {
	@apply absolute top-1/2 -translate-x-1/2 z-20 w-16 h-16 flex items-center justify-center bg-hover-1 rounded-full;
}

.leftControl:hover,
.rightControl:hover {
	@apply bg-hover-2 outline-none;
}

.leftControl {
	@apply bg-cover left-10 md:left-6;
	background-image: url('/cursor-left.png');
}

.rightControl {
	@apply bg-cover right-10 md:right-6;
	background-image: url('/cursor-right.png');
}

.control {
	@apply opacity-0 transition duration-150;
}

.root:hover .control {
	@apply opacity-100;
}

.positionIndicatorsContainer {
	@apply hidden sm:block absolute bottom-6 left-1/2;
	transform: translateX(-50%);
}
