@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.fit {
		min-height: calc(100vh - 88px);
	}
}
/* @reference "tailwindcss"; */
/* @config "../tailwind.config.js"; */
