.root {
  @apply relative min-h-[320px];
  max-height: 100% !important;
}

.root:hover .productBg::before {
  transform: scale(0.99);
}

.root:hover .productImage {
  transform: scale(1.05);
}

/* Background color cycling */
.root:nth-child(6n + 1) .productBg {
  @apply bg-dyellow;
}

.root:nth-child(6n + 3) .productBg {
  @apply bg-lyellow;
}

.root:nth-child(6n + 5) .productBg {
  @apply bg-blue;
}

.root:nth-child(6n + 6) .productBg {
  @apply bg-dyellow;
}

/* Product Image */
.productImage {
  @apply
    w-full
    h-auto
    object-cover
    block
    relative
    z-10
    transition-transform
    duration-500;
}

/* Background Layer */
.productBg {
  @apply absolute inset-0 z-0;
  background-color: #212529;
}

.productBg::before {
  @apply
    transition-transform
    duration-500
    block
    w-full
    h-full
    bg-repeat-space;
  content: "";
  background-image: url("/product-pattern-bg.svg");
}

/* Product Text Tag */
.productTag {
  @apply absolute top-0 left-0 z-20;
}

.productTag > * {
  font-size: 2rem;
  letter-spacing: 0.4px;
}

/* Product Title */
.productTitle {
  @apply font-bold;
  line-height: 2.2em;
}

.productTitle span {
  @apply py-4 px-6 bg-primary;
  box-decoration-break: clone;
}

/* Product Price */
.productPrice {
  @apply bg-primary pb-4 pt-2 px-6 font-semibold text-sm;
  letter-spacing: 0.4px;
}
